head{
    background-color: #10e91b;
    color: #000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #10e91b;
    background-color:#000000;;
    text-decoration: none;
    padding: 3px;


} 